:root {
  --primary: #EBC69D;
  --black: rgba(0,0,0,0.85);
  --textColor: rgba(0,0,0,.60);
  --overlayColor: rgba(0,0,0,.50);
  --white: #fefefe;
  --blue: #008DFF;
}

*::selection {
    background-color: var(--blue);
    color: var(--white);
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  max-width: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

//> wait for typekit font to load, then display.
.wf-loading {
  opacity: 0;
}

.wf-active {
  opacity: 1;
}

#skip_nav {
  position: fixed;
  left: -10000px;
  top: -10000px;
  overflow: hidden;
  &:active {
    color: var(--black);
    position: relative;
  }
}

body {
  background: white;
  box-sizing: border-box;
  font-family: $body_font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  word-wrap: break-word;
  font-kerning: normal;
  height: 100%;
  min-height: 100vh;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  position: relative;
}

h1 {
  color: var(--black);
  font-family: $heading_font;
  font-size: 11vw;
  line-height: 1.2;
  margin: 6vh 0 2vh;
  text-align: center;
  @media screen and (min-width: 750px) {
    font-size: 7vw;
    margin: 10vh 0 4vh;
  }
  @media screen and (min-width: 1000px) {
    // font-size: 5.25vw;
    margin: 12vh 0 2vh;
  }
}

h2 {
  margin: 0;
}

p {
  line-height: 1.5;
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
  position: relative;
  &:before {
    content: '';
    background: var(--black);
    border-radius: 8px;
    height: 2px;
    overflow: hidden;
    transition: 0.26s width cubic-bezier(.38,.23,.35,1);
    width: 0;
    position: absolute;
    left: 0;
    bottom: -4px;
  }
  @media screen and (min-width: 600px) {
    &:hover {
      &:before {
        width: 37%;
      }
    }
  }
}

#not_index {
  a {
    &:before {
      background: var(--black);
    }
  }
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.gatsby-resp-image-link {
  &:hover {
    &:before {
      display: none;
    }
  }
}

#site_content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100%;
  padding: 0 8vw 8vw;
  overflow-y: auto;
  position: relative;
  @media screen and (min-width: 600px) {
    padding-bottom: 3vw;
  }
}

.wf-loading p, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4 {
    visibility: hidden;
}
.wf-active  p, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4 {
    visibility: visible;
}
.wf-inactive    p, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4 {
    visibility: visible;
}

// .fade-enter {
//   transform: translate3d(0, -10%, 0);
//   z-index: 1;
// }
//
// .fade-enter.fade-enter-active {
//   transform: translate3d(0, 0, 0);
//   transition-delay: 2s;
//   transition: transform 1s ease-in;
// }
//
// .fade_exit {
//   transform: translate3d(0, 0, 0);
// }
//
// .fade-exit.fade-exit-active {
//   transform: translate3d(0, 100%, 0);
//   transition: transform .5s ease-in;
// }
//
// .fade-appear {
//   opacity: 0;
// }
//
// .fade-appear.fade-appear-active {
//   opacity: 1;
//   transition: opacity 1s ease-in;
// }
