
#not_index {
  .project_title {
    margin-bottom: 6px;
  }
  @media screen and (min-width: 600px) {
    .project_title {
      margin-bottom: 2px;
    }
  }
}

.tag_wrapper {
  opacity: 0;
  transform: translate3d(0, -40px, 0);
  margin-bottom: 64px;
  text-align: center;
  &:after {
    content: '';
    animation-name: tag_wrapper_after;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: var(--black);
    width: 1px;
    position: absolute;
    left: 50%;
  }
  .project_tags {
    display: inline-block;
    margin-right: 4px;
    text-align: center;
  }
}

.project_description {
  animation-name: project_description;
  animation-duration: 2s;
  animation-delay: 2.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: var(--textColor);
  margin: 0 auto 18px;
  max-width: 320px;
  opacity: 0;
  text-align: center;
  @media screen and (min-width: 600px) {
    max-width: 480px;
  }
}

.project_link {
  animation-name: project_description;
  animation-duration: 2s;
  animation-delay: 2.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: block;
  opacity: 0;
  text-align: center;
  a {
    font-weight: 900;
  }
}

//> Error

.error {
  color: var(--error);
}
