
.project_tags {
  display: inline-block;
  text-align: center;
}

.project_description {
  color: var(--textColor);
  margin: 0 auto;
  max-width: 320px;
  text-align: center;
  @media screen and (min-width: 600px) {
    font-size: 18px;
    max-width: 480px;
  }
  @media screen and (min-width: 1000px) {
    font-size: 20px
  }
}

.tag_wrapper {
  text-align: center;
}

.project_tags {
  margin-right: 4px;
}
