
#home_page {
  lost-utility: clearfix;
  h1 {
    color: var(--black);
    opacity: 0;
    text-align: left;
    transform: translate3d(0, -50px, 0);
  }
  p {
    color: var(--black);
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 36px;
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  a {
    color: var(--black);
    font-weight: 700;
    opacity: 0;
    @media screen and (min-width: 600px) {
      &:hover {
        span {
          transform: translate3d(1vw, 0, 0);
        }
      }
    }
  }
  @media screen and (min-width: 600px) {
    .intro_p {
      lost-column: 1;
      max-width: 50vw;
    }
  }
  @media screen and (min-width: 750px) {
    max-width: 58vw;
  }
  @media screen and (min-width: 1000px) {
    .intro_p {
      max-width: 35vw;
    }
  }

}
