:root {
  --primary: #EBC69D;
  --black: rgba(0,0,0,0.85);
  --textColor: rgba(0,0,0,.60);
  --overlayColor: rgba(0,0,0,.50);
  --white: #fefefe;
  --blue: #008DFF; }

*::selection {
  background-color: var(--blue);
  color: var(--white); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  max-width: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  box-sizing: border-box;
  overflow-y: scroll; }

* {
  box-sizing: inherit; }

*:before {
  box-sizing: inherit; }

*:after {
  box-sizing: inherit; }

#skip_nav {
  position: fixed;
  left: -10000px;
  top: -10000px;
  overflow: hidden; }
  #skip_nav:active {
    color: var(--black);
    position: relative; }

body {
  background: white;
  box-sizing: border-box;
  font-family: "europa", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  word-wrap: break-word;
  font-kerning: normal;
  height: 100%;
  min-height: 100vh;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  position: relative; }

h1 {
  color: var(--black);
  font-family: "europa", sans-serif;
  font-size: 11vw;
  line-height: 1.2;
  margin: 6vh 0 2vh;
  text-align: center; }
  @media screen and (min-width: 750px) {
    h1 {
      font-size: 7vw;
      margin: 10vh 0 4vh; } }
  @media screen and (min-width: 1000px) {
    h1 {
      margin: 12vh 0 2vh; } }

h2 {
  margin: 0; }

p {
  line-height: 1.5;
  margin: 0; }

a {
  color: var(--black);
  text-decoration: none;
  position: relative; }
  a:before {
    content: '';
    background: white;
    border-radius: 8px;
    height: 2px;
    overflow: hidden;
    transition: 0.26s width cubic-bezier(0.38, 0.23, 0.35, 1);
    width: 0;
    position: absolute;
    left: 0;
    bottom: -4px; }
  a:hover:before {
    width: 37%; }

#not_index a:before {
  background: black; }

ul {
  margin: 0;
  padding-left: 0; }

li {
  list-style: none; }

.gatsby-resp-image-link:hover:before {
  display: none; }

#site_content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100%;
  padding: 0 8vw 8vw;
  overflow-y: auto;
  position: relative; }
  @media screen and (min-width: 600px) {
    #site_content {
      padding-bottom: 3vw; } }

.wf-loading p, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4 {
  visibility: hidden; }

.wf-active p, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4 {
  visibility: visible; }

.wf-inactive p, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4 {
  visibility: visible; }

.project_description {
  color: var(--textColor);
  margin: 0 auto 18px;
  max-width: 320px;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .project_description {
      max-width: 480px; } }

#not_index .project_title {
  margin-bottom: 6px; }

@media screen and (min-width: 600px) {
  #not_index .project_title {
    margin-bottom: 2px; } }

.tag_wrapper {
  margin-bottom: 64px;
  text-align: center; }
  .tag_wrapper:after {
    content: '';
    background: var(--black);
    height: 36px;
    transform: translate3d(-50%, 40px, 0);
    width: 1px;
    position: absolute;
    left: 50%; }
  .tag_wrapper .project_tags {
    display: inline-block;
    margin-right: 4px;
    text-align: center; }

.project_link {
  display: block;
  text-align: center; }
  .project_link a {
    font-weight: 900; }

#main_logo {
  color: var(--white);
  font-weight: 900;
  transition: color 0.52s cubic-bezier(0.38, 0.23, 0.35, 1);
  transition-delay: 0;
  z-index: 700;
  position: relative; }
  #main_logo.menu_shown {
    color: var(--black);
    transition-delay: 0.36s; }
    @media screen and (min-width: 600px) {
      #main_logo.menu_shown {
        color: var(--white);
        transition-delay: none;
        transition: none; } }

#not_index #main_logo {
  color: var(--black); }

#not_index .main_nav li a {
  color: var(--black); }
  #not_index .main_nav li a:before {
    background: var(--black); }

#not_index #menu_icon.menu_shown span {
  transition: background-color 0.52s cubic-bezier(0.38, 0.23, 0.35, 1);
  background: var(--black); }
  #not_index #menu_icon.menu_shown span:before, #not_index #menu_icon.menu_shown span:after {
    background: var(--black); }

#not_index #menu_icon span {
  background: var(--black); }
  #not_index #menu_icon span:before, #not_index #menu_icon span:after {
    content: '';
    background: var(--black); }

#mobile_nav {
  background: var(--white);
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  transform: translate3d(150vw, 0, 0);
  transition: transform 0.52s cubic-bezier(0.38, 0.23, 0.35, 1);
  width: 100vw;
  will-change: transform;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0; }
  #mobile_nav.menu_shown {
    transform: translate3d(0vw, 0, 0); }
    #mobile_nav.menu_shown ul {
      transform: translate3d(8vw, 0, 0);
      transition: transform 0.84s cubic-bezier(0.38, 0.23, 0.35, 1); }
  #mobile_nav ul {
    margin: 0;
    position: absolute;
    transform: translate3d(32vw, 0, 0);
    transition: transform 0.52s cubic-bezier(0.38, 0.23, 0.35, 1);
    top: 33vh; }
  #mobile_nav li {
    margin: 3vh 0; }
  #mobile_nav .number {
    display: inline-block;
    font-size: 4vh;
    font-weight: 100;
    font-family: "europa", sans-serif;
    margin-right: 2vw; }
  #mobile_nav a {
    color: var(--black);
    font-size: 8vw;
    font-weight: 600; }
    #mobile_nav a:before {
      background: var(--black); }
  @media screen and (min-width: 600px) {
    #mobile_nav {
      display: none; } }

#main_header {
  padding-top: 9vh;
  position: relative; }
  @media screen and (min-width: 1000px) {
    #main_header {
      padding-top: 12vh; } }

#menu_icon {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 16px;
  z-index: 600;
  position: absolute;
  right: 0; }
  #menu_icon.menu_shown span {
    transition: background-color 0.52s cubic-bezier(0.38, 0.23, 0.35, 1);
    background: var(--black); }
    #menu_icon.menu_shown span:before, #menu_icon.menu_shown span:after {
      background: var(--black); }
  #menu_icon span {
    background: var(--white);
    border-radius: 12px;
    display: block;
    height: 2px;
    transition-delay: 0.24s;
    transition: background-color 0s;
    width: 28px;
    position: relative; }
    #menu_icon span:before, #menu_icon span:after {
      content: '';
      background: var(--white);
      border-radius: 8px;
      display: block;
      height: 2px;
      transform: translate3d(8px, 6px, 0);
      width: 20px;
      position: relative; }
    #menu_icon span:before {
      transform: translate3d(8px, 16px, 0); }
  @media screen and (min-width: 600px) {
    #menu_icon {
      display: none; } }

.main_nav {
  display: none; }
  @media screen and (min-width: 600px) {
    .main_nav {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 9vh; }
      .main_nav li {
        display: inline-block;
        margin: 0 18px; }
        .main_nav li a {
          color: var(--white); } }
  @media screen and (min-width: 1000px) {
    .main_nav {
      top: 12vh; } }

#index {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/me.jpg") no-repeat bottom center;
  background-position: 0 0;
  background-size: cover; }
  #index #site_content::-webkit-scrollbar {
    display: none; }
  #index #site_content::-webkit-scrollbar-thumb {
    display: none; }
  #index #site_content::-webkit-scrollbar-corner {
    display: none; }

#home_page {
  lost-utility: clearfix; }
  #home_page h1 {
    color: var(--white);
    text-align: left; }
  #home_page p {
    color: var(--white);
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 10vh; }
  #home_page a {
    color: var(--white);
    font-weight: 700; }
    #home_page a:hover span {
      transform: translate3d(1vw, 0, 0); }
  @media screen and (min-width: 600px) {
    #home_page .intro_p {
      lost-column: 1;
      max-width: 50vw; } }
  @media screen and (min-width: 750px) {
    #home_page {
      max-width: 58vw; } }
  @media screen and (min-width: 1000px) {
    #home_page .intro_p {
      max-width: 35vw; } }

#not_index #site_content::-webkit-scrollbar {
  display: none; }

#not_index #site_content::-webkit-scrollbar-thumb {
  display: none; }

#not_index #site_content::-webkit-scrollbar-corner {
  display: none; }

#not_index h1 {
  margin: 56px 0 48px;
  font-size: 11vw;
  position: relative; }
  @media screen and (min-width: 600px) {
    #not_index h1 {
      margin: 84px 0 124px; }
      #not_index h1:after {
        transform: translate3d(-50%, 112px, 0); } }
  @media screen and (min-width: 1000px) {
    #not_index h1 {
      font-size: 6vw; } }

#not_index .project {
  background: var(--white);
  cursor: pointer;
  line-height: 0;
  margin-bottom: 60px;
  pointer-events: auto;
  z-index: 400;
  position: relative; }
  #not_index .project:before, #not_index .project:after {
    transition: 0.34s opacity;
    will-change: opacity; }
  #not_index .project:before {
    content: '';
    background: var(--overlayColor);
    height: 100%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  #not_index .project:after {
    content: attr(data-title);
    color: var(--white);
    display: block;
    font-size: 14px;
    letter-spacing: 4px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    text-transform: uppercase;
    transition-delay: 0;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%; }
    @media screen and (min-width: 1000px) {
      #not_index .project:after {
        font-size: 16px; } }
  #not_index .project:hover:before, #not_index .project:hover:after {
    transition: 0.34s opacity;
    will-change: opacity; }
  #not_index .project:hover:before {
    opacity: 1;
    z-index: 500; }
  #not_index .project:hover:after {
    opacity: 1;
    transition-delay: 0.1s;
    z-index: 600; }
  #not_index .project img {
    width: 100%; }
  #not_index .project a:before {
    background: none; }

#projects_wrapper {
  max-width: 360px;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    #projects_wrapper {
      max-width: 800px; } }
  @media screen and (min-width: 1000px) {
    #projects_wrapper {
      max-width: none; } }

.masonry_grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -60px;
  /* gutter size offset */
  width: auto; }

.masonry_column {
  padding-left: 60px;
  background-clip: padding-box; }

.back {
  display: none; }
  @media screen and (min-width: 600px) {
    .back {
      display: inline-block;
      font-size: 12px;
      margin-top: 4vw; } }

#photos {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 10vw;
  width: 90%; }
  #photos .photo {
    margin-bottom: 30px; }
  @media screen and (min-width: 600px) {
    #photos .photo {
      margin-bottom: 60px; } }
  @media screen and (min-width: 1000px) {
    #photos {
      padding-top: 6vw; } }
