
//> Everything to do with the menu
#main_logo {
  color: var(--black);
  font-weight: 900;
  transition-delay: 0;
  z-index: 700;
  position: relative;
  &.menu_shown {
    color: var(--white);
    @media screen and (min-width: 600px) {
      color: var(--black);
      transition-delay: none;
      transition: none;
    }
  }
}

#mobile_nav {
  background: #000;
  box-sizing: border-box;
  height: 100vh;
  opacity: 0;
  overflow-y: auto;
  transform: translate3d(30vw, 0, 0);
  transition: transform 0.32s cubic-bezier(.38,.23,.35,1), opacity 0.32s cubic-bezier(.38,.23,.35,1);
  width: 100vw;
  will-change: opacity, transform;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  &.menu_shown {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
    ul {
      transform: translate3d(8vw, 0, 0);
      transition: transform 0.56s cubic-bezier(.38,.23,.35,1);
    }
  }
  ul {
    margin: 0;
    position: absolute;
    transform: translate3d(32vw, 0, 0);
    transition: transform 0.56s cubic-bezier(.38,.23,.35,1);
    top: 33vh;
  }
  li {
    margin: 3vh 0;
  }
  .number {
    display: inline-block;
    font-size: 4vh;
    font-weight: 100;
    font-family: $heading_font;
    margin-right: 2vw;
  }
  a {
    color: var(--white);
    font-size: 8vw;
    font-weight: 600;
  }
  @media screen and (min-width: 600px) {
    display: none;
  }
}

#main_header {
  padding-top: 9vh;
  position: relative;
  @media screen and (min-width: 1000px) {
    padding-top: 12vh;
  }
}


#menu_icon {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
    padding-bottom: 20px;
    z-index: 600;
    position: absolute;
    right: 0;
    &.menu_shown {
      span {
        background: var(--white);
        transform: rotate(0.75rad);
        top: 5px;
        &:after {
          background: var(--white);
          transform: rotate(-1.5708rad);
          width: 28px;
          top: 0;
        }
      }
    }
    span {
      background: var(--black);
      border-radius: 12px;
      display: block;
      height: 2px;
      transition: background-color 0s;
      transform: rotate(0);
      width: 28px;
      position: relative;
      &:after {
        content: '';
        background: var(--black);
        border-radius: 8px;
        display: block;
        height: 2px;
        transform: translate3d(8px, 6px, 0) rotate(0);
        width: 20px;
        position: relative;
      }
    }
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.main_nav {
  display: none;
  @media screen and (min-width: 600px) {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 9vh;
    li {
      display: inline-block;
      margin: 0 18px;
      a {
        color: var(--black);
      }
    }
  }
  @media screen and (min-width: 1000px) {
    top: 12vh;
  }
}
